{% extends "tournaments/base.html" %}
{% block content %}
{% load i18n %}
    <div class="row">
        <p>{{ game }}</p>
        <p>{{ game.date_time }}</p>
        <p>{{ game.venue }}</p>
        {% if game.is_finished %}
            <div class="row">


                <table>
                    <thead>
                        <tr>
                            <td>{% trans "Q1" %}</td>
                            <td>{% trans "Q2" %}</td>
                            <td>{% trans "Q3" %}</td>
                            <td>{% trans "Q4" %}</td>
                            <td>{% trans "Final" %}</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{game.local_q1}}</td>
                            <td>{{game.local_q2}}</td>
                            <td>{{game.local_q3}}</td>
                            <td>{{game.local_q4}}</td>
                            <td><b>{{game.local_points}}</b></td>
                        </tr>
                        <tr>
                            <td>{{game.visitor_q1}}</td>
                            <td>{{game.visitor_q2}}</td>
                            <td>{{game.visitor_q3}}</td>
                            <td>{{game.visitor_q4}}</td>
                            <td><b>{{game.visitor_points}}</b></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="row">
                    <h4>Points</h4>
                    <div class="col s5">
                        <a class="team-link" href="index.html">{{ game.team_local.name }}</a>
                        <table>
                            <thead>
                                <tr>
                                   <td>{% trans "Player" %}</td>
                                   <td>{% trans "Points" %}</td>
                                </tr>
                            </thead>
                        {% for point in local_points %}
                           <tr>
                               <td>{{ point.player }}</td>
                               <td>{{ point.value }}</td>
                           </tr>
                        {% endfor %}
                        </table>
                    </div>
                    <div class="col s5 push-s1">
                        <a class="team-link" href="index.html">{{ game.team_visitor.name }}</a>
                        <table>
                            <thead>
                                <tr>
                                   <td>{% trans "Player" %}</td>
                                   <td>{% trans "Points" %}</td>
                                </tr>
                            </thead>
                        {% for point in visitor_points %}
                           <tr>
                               <td>{{ point.player }}</td>
                               <td>{{ point.value }}</td>
                           </tr>
                        {% endfor %}
                        </table>
                    </div>
                </div>
                <div class="row"></div>
                <div class="row">
                        <h4>{% trans "Fouls" %}</h4>
                        <div class="col s5">
                        <a class="team-link" href="index.html">{{ game.team_local.name }}</a>
                            <table>
                                <thead>
                                    <tr>
                                       <td>{% trans "Player" %}</td>
                                       <td>{% trans "Type" %}</td>
                                    </tr>
                                </thead>
                            {% for foul in local_fouls %}
                               <tr>
                                   <td>{{ foul.player }}</td>
                                   <td>{{ foul.type }}</td>
                               </tr>
                            {% endfor %}
                            </table>
                        </div>
                        <div class="col s5 push-s1">

                        <a class="team-link" href="index.html">{{ game.team_visitor.name }}</a>
                            <table>
                                <thead>
                                    <tr>
                                       <td>{% trans "Player" %}</td>
                                       <td>{% trans "Type" %}</td>
                                    </tr>
                                </thead>
                            {% for foul in visitor_fouls %}
                               <tr>
                                   <td>{{ foul.player }}</td>
                                   <td>{{ foul.type }}</td>
                               </tr>
                            {% endfor %}
                            </table>
                        </div>
                    </div>
            </div>
        {% else %}
            <div>
               {% trans "This game has not been played" %}
            </div>
        {% endif %}
    </div>

{% endblock %}