{% extends "tournaments/base.html" %}
{% block content %}

    <div class="row">
        <p>{{ game }}</p>
        <p>{{ game.date_time }}</p>
        <p>{{ game.venue }}</p>
        {% if game.is_finished %}
            <div class="row">
                <div class="row">
                    <h4>Points</h4>
                    <div class="col s5">
                        <a class="team-link" href="index.html">{{ game.team_local.name }}</a>
                        <table>
                            <thead>
                                <tr>
                                   <td>Player</td>
                                   <td>Points</td>
                                </tr>
                            </thead>
                        {% for point in local_points %}
                           <tr>
                               <td>{{ point.player }}</td>
                               <td>{{ point.value }}</td>
                           </tr>
                        {% endfor %}
                        </table>
                    </div>
                    <div class="col s5 push-s1">
                        <a class="team-link" href="index.html">{{ game.team_visitor.name }}</a>
                        <table>
                            <thead>
                                <tr>
                                   <td>Player</td>
                                   <td>Points</td>
                                </tr>
                            </thead>
                        {% for point in visitor_points %}
                           <tr>
                               <td>{{ point.player }}</td>
                               <td>{{ point.value }}</td>
                           </tr>
                        {% endfor %}
                        </table>
                    </div>
                </div>
                <div class="row"></div>
                <div class="row">
                        <h4>Fouls</h4>
                        <div class="col s5">
                        <a class="team-link" href="index.html">{{ game.team_local.name }}</a>
                            <table>
                                <thead>
                                    <tr>
                                       <td>Player</td>
                                       <td>Type</td>
                                    </tr>
                                </thead>
                            {% for foul in local_fouls %}
                               <tr>
                                   <td>{{ foul.player }}</td>
                                   <td>{{ foul.type }}</td>
                               </tr>
                            {% endfor %}
                            </table>
                        </div>
                        <div class="col s5 push-s1">

                        <a class="team-link" href="index.html">{{ game.team_visitor.name }}</a>
                            <table>
                                <thead>
                                    <tr>
                                       <td>Player</td>
                                       <td>Type</td>
                                    </tr>
                                </thead>
                            {% for foul in visitor_fouls %}
                               <tr>
                                   <td>{{ foul.player }}</td>
                                   <td>{{ foul.type }}</td>
                               </tr>
                            {% endfor %}
                            </table>
                        </div>
                    </div>
            </div>
        {% else %}
            <div>
                This game has not been played
            </div>
        {% endif %}
    </div>

{% endblock %}