{% extends "tournaments/base.html" %}
{% block content %}
{% load i18n %}
        <div class="row"></div>
        <div class="row">
            <div class="col s4 center-align">
                <a class="waves-effect waves-light btn red" href="/tournaments/{{ tournament }}/day/{{ prev_day }}">{% trans "View Previous Day" %}</a>
            </div>
            <div class="col s4 push-s4 center-align">
                <a class="waves-effect waves-light btn red" href="/tournaments/{{ tournament }}/day/{{ next_day }}">{% trans "View Next Day" %}</a>
            </div>
        </div>
        <div class="row">
            {% if game_list %}
                {% for game in game_list %}
                    <div class="row card-panel hoverable">
                        <div class="col s4 center-align">
                            <div class="row">
                                {% trans "Local" %}
                            </div>
                            <div class="row">
                                <h5>{{ game.team_local.name }}</h5>
                            </div>
                        </div>
                        <div class="col s4 center-align">
                            <div class="row"> {{ game.date_time }} </div>
                            {% if game.is_finished %}
                                <div class="row"> {{ game.local_points }} - {{ game.visitor_points }}</div>
                                <a class="waves-effect waves-light btn red" href="/tournaments/{{ tournament }}/games/{{ game.id }}">{% trans "View Game Details" %}</a>
                            {% else %}
                                <div class="row">{% trans "Not Played Yet" %}</div>
                            {% endif %}
                        </div>
                        <div class="col s4 center-align">
                           <div class="row">
                                {% trans "Visitor" %}
                            </div>
                            <div class="row">
                                <h5>{{ game.team_visitor.name }}</h5>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>{% trans "No Games Scheduled" %}</p>
            {% endif %}
        </div>
{% endblock %}


