{% extends "tournaments/base.html" %}
{% block content %}
        <div class="row"></div>
        <div class="row">
            <div class="col s4 center-align">
                <a class="waves-effect waves-light btn" href="/tournaments/day/{{ prev_day }}">Previous day</a>
            </div>
            <div class="col s4 push-s4 center-align">
                <a class="waves-effect waves-light btn" href="/tournaments/day/{{ next_day }}">Next day</a>
            </div>
        </div>
        <div class="row">
            {% if game_list %}
                {% for game in game_list %}
                    <div class="row card-panel hoverable">
                        <div class="col s4 center-align">
                            <a class="team-link" href="index.html">{{ game.team_local.name }}</a>
                        </div>
                        <div class="col s4 center-align">
                            <div class="row"> {{ game.date_time }} </div>
                            {% if game.is_finished %}
                                <div class="row"> {{ game.get_local_points }} - {{ game.get_visitor_points }}</div>
                                <a class="waves-effect waves-light btn" href="/tournaments/games/{{ game.id }}">View details</a>
                            {% else %}
                                <div class="row"> Not played yet </div>
                            {% endif %}
                        </div>
                        <div class="col s4 center-align">
                            <a class="team-link" href="index.html">{{ game.team_visitor.name }}</a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>No games scheduled.</p>
            {% endif %}
        </div>
{% endblock %}


