{% extends "tournaments/base.html" %}
{% block content %}
{% load i18n %}
        <div class="row"></div>

        <div class="row">
            {% if my_games_list %}
                {% for games in my_games_list %}
                    <div class="row card-panel hoverable">
                        <div class="col s4 center-align">
                            <a class="team-link" href="index.html">{{ games.team_local.name }}</a>
                        </div>
                        <div class="col s4 center-align">
                            <div class="row"> {{ games.date_time }} </div>
                            {% if games.is_finished %}
                                <div class="row"> {{ games.local_points }} - {{ games.visitor_points }}</div>
                                <a class="waves-effect waves-light btn" href="/tournaments/{{ tournament }}/games/{{ game_local.id }}">{% trans "View Details" %}</a>
                            {% else %}
                                <div class="row">{% trans "No Played Yet" %}</div>
                            {% endif %}
                        </div>
                        <div class="col s4 center-align">
                            <a class="team-link" href="index.html">{{ games.team_visitor.name }}</a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>{% trans "No Games Scheduled" %}</p>
            {% endif %}
        </div>
{% endblock %}


