{% extends "tournaments/base.html" %}
{% block content %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['State', 'Teams'],
            {% for entry in teams_by_state %}
                [ '{{ entry.state__name }}', {{ entry.number }} ],
            {% endfor %}
        ]);
        var options = {
          is3D: true,
        };
        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
      }
    </script>
    {% if standings %}
    <div class="row"></div>
    <div class="row">
        <form>
        <div class="col s4 align-left">
            Show statistics by region:
        </div>
        <div class="col s6">
            <select name="region">
                <option value="general">General</option>
                {% for entry in regions %}
                    <option value="{{ entry.name }}">{{ entry.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col s2">
            <button class="waves-effect waves-light btn" type="submit">Show</button>
        </div>
        </form>
    </div>
    <div class="row">
        Currently viewing {{ region }} standings and statistics
    </div>
    <div class="row">
        <h4>Standings</h4>
        <table>
            <thead>
                <tr>
                   <td>Place</td>
                   <td>Team</td>
                   <td>Wins</td>
                </tr>
            </thead>
        {% for entry in standings %}
           <tr>
               <td> {{ entry.place }} </td>
               <td><a href="{{ entry.team }}">{{ entry.team }}</a></td>
               <td>{{ entry.value }}</td>
           </tr>
        {% endfor %}
        </table>
    </div>
        <div class="row"></div>
    <div class="row">
        <h4>Points</h4>
        <table>
            <thead>
                <tr>
                   <td>Place</td>
                   <td>Team</td>
                   <td>Points</td>
                </tr>
            </thead>
        {% for entry in point_leaders %}
           <tr>
               <td> {{ entry.place }} </td>
               <td><a href="{{ entry.team }}">{{ entry.team }}</a></td>
               <td>{{ entry.value }}</td>
           </tr>
        {% endfor %}
        </table>
    </div>
        <div class="row"></div>

        <div class="row">
        <h4>Fouls</h4>
        <table>
            <thead>
                <tr>
                   <td>Place</td>
                   <td>Team</td>
                   <td>Fouls</td>
                </tr>
            </thead>
        {% for entry in foul_leaders %}
           <tr>
               <td> {{ entry.place }} </td>
               <td><a href="{{ entry.team }}">{{ entry.team }}</a></td>
               <td>{{ entry.value }}</td>
           </tr>
        {% endfor %}
        </table>
    </div>
    {% else %}
        <br>
        This tournament has no played games.
    {% endif %}

    <div class="row">
        <div class="row"></div>
        <h4>Teams by state</h4>
        <div id="piechart_3d" style="width: 900px; height: 500px;"></div>
    </div>

{% endblock %}

