{% extends "tournaments/base.html" %}
{% block content %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['State', 'Teams'],
            {% for entry in teams_by_state %}
                [ '{{ entry.state__name }}', {{ entry.number }} ],
            {% endfor %}
        ]);
        var options = {
          is3D: true,
        };
        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
      }
    </script>
    {% if standings %}
    <div class="row"></div>
    <div class="row " >
        <form>
        <div class="col s4 align-left">
            <h5>Show statistics by State:</h5>
        </div>
        <div class="col s6">
            <select name="region">
                <option value="general">General</option>
                {% for entry in regions %}
                    <option value="{{ entry.name }}">{{ entry.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col s2">
            <button class="waves-effect waves-light btn red" type="submit">Show</button>
        </div>
        </form>
    </div>
    <div class="row">
        <h8>Currently viewing {{ region }} standings and statistics</h8>
    </div>
    <table>
    <div class="row">
        <tr ><h4>Standings</h4>
                   <th>Place</th>
                   <th>Team</th>
                   <th>Wins</th>
                    <th>Points</th>
                    <th>Fouls</th>
        </tr>

        {% for entry in standings %}
           <tr>
               <td> {{ entry.place }} </td>
               <td><a href="{{ entry.team }}">{{ entry.team }}</a></td>
               <td>{{ entry.value }}</td>

        {% endfor %}
        {% for entry in point_leaders %}
               <td>{{ entry.value }}</td>

               {% endfor %}

        {% for entry in foul_leaders %}
               <td>{{ entry.value }}</td>
           </tr>

        {% endfor %}
    </div>
    </table>

    {% else %}
        <br>
        This tournament has no played games.
    {% endif %}

    <div class="row">
        <div class="row"></div>
        <h4>Teams by state</h4>
        <div id="piechart_3d" style="width: 900px; height: 500px;"></div>
    </div>

{% endblock %}

