{% extends "tournaments/base.html" %}
{% block content %}

    {% if standings %}
    <div class="row">
        <h4>Standings</h4>
        <table>
            <thead>
                <tr>
                   <td>Place</td>
                   <td>Team</td>
                   <td>Wins</td>
                </tr>
            </thead>
        {% for entry in standings %}
           <tr>
               <td> {{ entry.place }} </td>
               <td><a href="{{ entry.team }}">{{ entry.team }}</a></td>
               <td>{{ entry.value }}</td>
           </tr>
        {% endfor %}
        </table>
    </div>
        <div class="row"></div>
    <div class="row">
        <h4>Points</h4>
        <table>
            <thead>
                <tr>
                   <td>Place</td>
                   <td>Team</td>
                   <td>Points</td>
                </tr>
            </thead>
        {% for entry in point_leaders %}
           <tr>
               <td> {{ entry.place }} </td>
               <td><a href="{{ entry.team }}">{{ entry.team }}</a></td>
               <td>{{ entry.value }}</td>
           </tr>
        {% endfor %}
        </table>
    </div>
        <div class="row"></div>

        <div class="row">
        <h4>Fouls</h4>
        <table>
            <thead>
                <tr>
                   <td>Place</td>
                   <td>Team</td>
                   <td>Fouls</td>
                </tr>
            </thead>
        {% for entry in foul_leaders %}
           <tr>
               <td> {{ entry.place }} </td>
               <td><a href="{{ entry.team }}">{{ entry.team }}</a></td>
               <td>{{ entry.value }}</td>
           </tr>
        {% endfor %}
        </table>
    </div>
    {% else %}
        <br>
        This tournament has no played games.
    {% endif %}

    <div class="row">
        <div class="row"></div>
        <h4>Teams by state</h4>
        <div id="piechart_3d" style="width: 900px; height: 500px;"></div>
    </div>

{% endblock %}

