{% extends "tournaments/base.html" %}
{% block content %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
            {% if is_region_filter %}
                ['Region', 'Teams'],
            {% else %}
                ['State', 'Teams'],
            {% endif %}
            {% for entry in filtered_teams %}
                [ '{{ entry.name }}', {{ entry.teams }} ],
            {% endfor %}
        ]);
        var options = {
          is3D: true,
        };
        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
      }
    </script>
    {% if standings %}
    <div class="row"></div>
    <div class="row " >
        <form>
        <div class="col s4 right-align">
            {% if is_region_filter %}
            <h5>Show statistics by region:</h5>
            {% else %}
            <h5>Show statistics by state:</h5>
            {% endif %}
        </div>
        <div class="col s6">
            <select name="filter">
                <option value="general">General</option>
                {% for entry in filter %}
                    <option value="{{ entry.name }}">{{ entry.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col s2">
            <button class="waves-effect waves-light btn red" type="submit">Show</button>
        </div>
        </form>
    </div>
        <div class = "row">
        </div>
    <div class="row center-align">
        <h5>Currently viewing {{ current_filter }} standings</h5>
    </div>
    <table>
        <h4>Standings</h4>
        <tr>
            <th>Place</th>
            <th>Team</th>
            <th>Wins</th>
            <th>Points</th>
        </tr>

        {% for entry in standings %}
           <tr>
                <td>{{ forloop.counter }}</td>
               <td>{{ entry.team_name }}</td>
               <td>{{ entry.wins }}</td>
               <td>{{ entry.points }}</td>

        {% endfor %}
    </table>

    {% else %}
        <br>
        This tournament has no played games.
    {% endif %}

    <div class="row">
        <div class="row"></div>
        {% if is_region_filter %}
                <h4>Teams by region</h4>
            {% else %}
                <h4>Teams by state</h4>
            {% endif %}
        <div id="piechart_3d" style="width: 900px; height: 500px;"></div>
    </div>

{% endblock %}

