{% extends "tournaments/base.html" %}
{% block content %}

        <div class="row">
            <p>{{ t.name }}</p>
            <p>{{ t.category }}</p>
            <p>{{ t.sex }}</p>
            <p>{{ t.state }}</p>
            <p>{{ t.address }}</p>
        </div>
        <div class="row">
            {% if player_list %}
                <form action="/users/player/delete/secure/">
                {% csrf_token %}
                <input type="hidden" name="tournament" value="{{ tournament }}">
                <input type="hidden" name="team" value="{{ team }}">
                {% for player in player_list %}
                    <div class="row card-panel hoverable">
                        <div class="col s6">
                            <p class="center-allign">{{ player }} </p>
                        </div>
                        <div class="col s3">
                            <a class="waves-effect waves-light btn " href="/users/player/{{ player.id }}">View</a>
                        </div>
                        <div class="col s3">
                            <button type="submit" name="player" value="{{ player.id }}" class="waves-effect waves-light btn ">REMOVE</button>
                        </div>
                    </div>
                {% endfor %}
                </form>
            {% else %}
                <p>There are no players in this team</p>
            {% endif %}
        </div>
{% endblock %}
