{% extends "tournaments/base.html" %}
{% block content %}
        <div class="row"></div>
        <div class="row">
            {% if active_tournament_list %}
                {% for tournaments in active_tournament_list %}
                    <div class="row card-panel hoverable">
                        <div class="col s4 center-align">
                            <h4 class="center-allign">{{ tournaments.name }}  {{ tournaments.category }} {{ tournaments.sex }}</h4>
                            <a class="waves-effect waves-light btn " href="/tournaments/{{ tournament.id }}">View details</a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>No tournaments active.</p>
            {% endif %}
        </div>
{% endblock %}


