<!DOCTYPE html>
<html lang="en">
    <head>

    {% block css %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/css/materialize.min.css" integrity="sha256-qj3p6P1fJIV+Ndv7RW1ovZI2UhOuboj9GcODzcNFIN8=" crossorigin="anonymous" />
    <link rel="stylesheet" href="styles.css">
    {% endblock css %}
        <title>Base</title>

    </head>
    <body>
    {% block javascript %}
        <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/js/materialize.min.js" integrity="sha256-SrBfGi+Zp2LhAvy9M1bWOCXztRU9Ztztxmu5BcYPcPE=" crossorigin="anonymous"></script>

        <script>
        $(document).ready(function(){

        // Initialize materialize data picker
        $('.datepicker').datepicker({'format': 'yyyy-mm-dd'});
        $('select').formSelect();

        });

        </script>

    {% endblock javascript %}

    <nav>
    <div class="nav-wrapper green darken-4">
        {% load static from staticfiles %}
      <img class="left hide-on-med-and-down" src="{% static 'teams/logo.png' %}" width="70" height="63"/>

         <ul  class="user right  hide-on-med-and-down">
             {% if request.user.is_authenticated %}
             Hello {{ request.user.username }}
             {% else %}
            <li><a href="/users/userform.html">Make an Account</a></li>
             <li><a href="/users/login.html">Login</a></li>
             {% endif %}

      </ul>

    </div>
  </nav>
{% block content %}
        <div class="row"></div>
        <div class="row">
            {% if active_tournament_list %}
                {% for tournaments in active_tournament_list %}
                    <div class="row card-panel hoverable">
                        <div class="col s4 center-align">
                            <h4 class="center-allign">{{ tournaments.name }}  {{ tournaments.category }} {{ tournaments.sex }} {{ tournaments.id }}</h4>
                            <a class="waves-effect waves-light btn " href="/tournaments/{{ tournaments.id }}/day/1">View details</a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>No tournaments active.</p>
            {% endif %}
        </div>
    </body>
{% endblock %}
     <footer class="page-footer red darken-4">
        <div class="row">
         {% if request.user.is_authenticated %}
     <ul  class="right  hide-on-med-and-down">
         <h5> <a href="{% url 'logoutUser' %}">Logout</a></h5>
         {% endif %}



      </ul>


        <div class="col s8 push-s2">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Contacto</h5>
            <p class="grey-text text-lighten-4">Alex</p>
              <p class="grey-text text-lighten-4">Telefono</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        LNCAB
        <a class="grey-text text-lighten-4 right" >ADEMEBA</a>
        </div>
      </div>
</footer>

</html>



