<!DOCTYPE html>
{% load i18n %}
<html lang="en">
    <head>

    {% block css %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/css/materialize.min.css" integrity="sha256-qj3p6P1fJIV+Ndv7RW1ovZI2UhOuboj9GcODzcNFIN8=" crossorigin="anonymous" />
    {% endblock css %}
        <title>{% trans "Base" %}</title>

    </head>
    <body>
    {% block javascript %}
        <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/js/materialize.min.js" integrity="sha256-SrBfGi+Zp2LhAvy9M1bWOCXztRU9Ztztxmu5BcYPcPE=" crossorigin="anonymous"></script>

        <script>
        $(document).ready(function(){

        // Initialize materialize data picker
        $('.datepicker').datepicker({'format': 'yyyy-mm-dd'});
        $('select').formSelect();

        });

        </script>

    {% endblock javascript %}

    <nav>

    <div class="nav-wrapper green darken-4">
        {% load static from staticfiles %}
      <img class="left hide-on-med-and-down" src="{% static 'teams/logo.png' %}" width="70" height="63"/>


         <ul  class="user right  hide-on-med-and-down">
             {% if request.user.is_authenticated %}
             <li>Hello {{ request.user.username }}</li>
             <li> <a class="btn red hoverable" href="{% url 'logoutUser' %}">{% trans "Logout" %}</a></li>

             {% else %}
            <li><a href="/users/userform.html">{% trans "Create An Account" %}</a></li>
             <li><a class="btn red hoverable" href="/users/login.html">{% trans "Login" %}</a></li>
             {% endif %}

      </ul>

    </div>
  </nav>
{% block content %}
        <div class="row"></div>
        <div class="row">
            {% if active_tournament_list %}
                {% for tournaments in active_tournament_list %}
                    <div class="row card-panel hoverable">
                        <div class="col s4 center-align">
                            <h4 class="center-allign">{{ tournaments.name }}  {{ tournaments.category }} {{ tournaments.sex }} {{ tournaments.id }}</h4>
                            <a class="waves-effect waves-light btn red" href="/tournaments/{{ tournaments.id }}/day/{{ tournaments.get_current_day.number }}">{% trans "View Details" %}</a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>{% trans "No Tournaments Active" %}</p>
            {% endif %}
        </div>
    </body>
{% endblock %}
     <footer class="page-footer red darken-4">
        <div class="col s8 push-s2">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">{% trans "Contact" %}</h5>
            <p class="grey-text text-lighten-4">{% trans "Alex" %}</p>
              <p class="grey-text text-lighten-4">{% trans "Telephone" %}</p>
          </div>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        {% trans "LNCAB" %}
        <a class="grey-text text-lighten-4 right" >{% trans "ADEMEBA" %}</a>
        </div>
      </div>
</footer>

</html>



