<!DOCTYPE html>
{% load i18n %}
<html lang="en">
    <head>

    {% block css %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/css/materialize.min.css" integrity="sha256-qj3p6P1fJIV+Ndv7RW1ovZI2UhOuboj9GcODzcNFIN8=" crossorigin="anonymous" />
    {% endblock css %}
        <title>{% trans "Base" %}</title>

    </head>
    <body>
    {% block javascript %}
        <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/js/materialize.min.js" integrity="sha256-SrBfGi+Zp2LhAvy9M1bWOCXztRU9Ztztxmu5BcYPcPE=" crossorigin="anonymous"></script>

        <script>
        $(document).ready(function(){

        // Initialize materialize data picker
        $('.datepicker').datepicker({'format': 'yyyy-mm-dd'});
        $('select').formSelect();

        });

        </script>

    {% endblock javascript %}




    {% block content %}
  
        <h1>{% trans "Login" %}</h1>
        <form action="." method="post">
            {{ login_form.as_p }}
            {% csrf_token %}
            <input type ='hidden' name="next" value="{{ next }}"/>
            <button type="submit"  class="save btn btn-default">{% trans "Login" %}</button>
        </form>
    {% endblock %}




    </body>
    <footer class="page-footer red darken-4">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">{% trans "Contact" %}</h5>
            <p class="grey-text text-lighten-4">{% trans "Alex" %}</p>
              <p class="grey-text text-lighten-4">{% trans "Telephone" %}</p>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        {% trans "LNCAB" %}
        <a class="grey-text text-lighten-4 right" >{% trans "ADEMEBA" %}</a>
        </div>
      </div>
</footer>

</html>