{% extends "tournaments/base.html" %}
{% block content %}

        <div class="row">

        </div>
        <div class="row">
            {% if player_list %}
                {% for player in player_list %}
                    <div class="row card-panel hoverable">
                        <div class="col s4 center-align">
                            <h4 class="center-allign">{{ player }} </h4>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>There are no players in this team</p>
            {% endif %}
        </div>
{% endblock %}
